<section class="hero-unit cf">
<form name="login" ng-click="loginSubmit()" ng-model="mdlLogin"  accept-charset="utf-8">
	<ul class="unstyled">
		<li><label for="usermail">Email</label>
		<input type="email" ng-model="username" name="usermail" placeholder="yourname@email.com" value="jmittelbronn@gmail.com" required></li>
		<li><label for="password">Password</label>
		<input type="password" ng-model="password"  name="password" placeholder="password" value="m3l155412" required></li>
		<li>
		<input type="submit" value="Login"></li>
	</ul>
</form>
</section>
